<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
   		<property name="hibernate.show_sql">true </property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123</property>
        <!--数据库连接池的大小-->   
        <property name="hibernate.connection.pool.size">20</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/mydb</property>
        <!--<property name="hibernate.cache.use_query_cache">true</property>-->
        
        <mapping class="com.firstapp.entity.User" />
        <mapping class="com.firstapp.entity.ConsumeContent" />
        <mapping class="com.firstapp.entity.ConsumeType" />
    </session-factory>
</hibernate-configuration>